body,
input,
pre,
td {
    background-color: black;
    color: #8f8;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    text-decoration: none;
}

a,
a:visited {
    color: #8f8;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    color: #000;
    background-color: #8f8;
}

td>a {
    display: block;
}

td>a:hover {
    color: #000;
    background-color: #8f8;
}

body {
    margin: 4px;
    padding: 0;
}

input {
    border: 0;
    width: 0px;
    color: transparent;
    text-shadow: 0 0 0 #000;
}

input:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    background-color: #8f8;
    color: #000;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0 1em 0 1em;
}

p,
pre {
    margin-top: 1em;
}

img#cursor {
    margin-bottom: -2px;
    background-color: #8f8;
}

img {
    background-color: #8f8;
}

#frontCell {
    width: 350px;
    vertical-align: top;
}

#display .post {
    margin: 0 1em 0 1em;
    line-height: 1.5;
}

#display .separator {
    margin: 1em 0 1em 0;
    border-bottom: 1px solid #8f8;
}